@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header.fade-in {
    animation-delay: 150ms;
  }
  h1 {
    @apply h1-base md:h1-md font-bold text-white my-4;
  }

  h1.fade-in {
    animation-delay: 300ms;
  }

  p {
    @apply text-light-grey font-normal;
    @apply text-sm leading-[22px];
    @apply md:text-[15px] md:leading-6;
  }

  p.fade-in {
    animation-delay: 450ms;
  }

  label,
  input[type="radio"],
  input[type="submit"],
  input[type="radio"] ~ span {
    @apply cursor-pointer;
  }

  label:hover > input[type="radio"] {
    @apply bg-orange;
  }

  label:nth-of-type(1).fade-in {
    animation-delay: calc(450ms + (1 * 150ms));
  }

  label:nth-of-type(2).fade-in {
    animation-delay: calc(450ms + (2 * 150ms));
  }

  label:nth-of-type(3).fade-in {
    animation-delay: calc(450ms + (3 * 150ms));
  }
  label:nth-of-type(4).fade-in {
    animation-delay: calc(450ms + (4 * 150ms));
  }
  label:nth-of-type(5).fade-in {
    animation-delay: calc(450ms + (5 * 150ms));
  }

  input[type="radio"] {
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }

  input[type="radio"]:focus {
    /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }

  input[type="radio"] ~ span {
    @apply text-sm leading-6;
    @apply md:text-[15px];
  }

  input[type="radio"]:checked ~ span {
    @apply text-white;
  }

  input[type="submit"].fade-in {
    animation-delay: calc(450ms + (6 * 150ms));
  }
}

@layer components {
  #__next {
    @apply w-full h-full flex flex-col items-center justify-center;
  }

  .container {
    @apply flex flex-col max-w-[26rem] w-[327px] my-0 mx-auto;
    @apply bg-black-gradient-radial  rounded-2xl px-6 py-6;
    @apply md:px-8 md:py-8 md:w-[412px];
  }
  .oval-base {
    @apply flex items-center justify-center bg-dark-blue text-light-grey rounded-[50%];
  }
  .oval {
    @apply oval-base w-10 h-10;
    @apply md:w-12 md:h-12;
  }

  .form-oval {
    @apply oval-base w-10.5 h-10.5;
    @apply hover:bg-orange hover:text-white;
    @apply md:w-[51px] md:h-[51px];
    @apply font-bold;
  }

  .form-oval:checked {
    @apply bg-medium-grey text-white;
  }
}

@layer utilities {
  .h1-base {
    @apply text-[24px] leading-[30px];
  }

  .h1-md {
    @apply text-[28px] leading-[35px];
  }

  .rounded-border {
    border-radius: 15px;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }

  @keyframes zoomOut {
    from {
      opacity: 0;
      transform: scale3d(250%);
    }
    to {
      opacity: 1;
      /* transform: scale3d(100%); */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

html,
body {
  @apply m-0 p-0 font-sans bg-black flex flex-col w-full h-full;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 500ms;
}
